// Solarized light
@mixin solarized-light-appearance {
  background-color: #fdf6e3; // base3
  color: #657b83;            // base00

  a { color: #268bd2; }      // blue
  a:hover { color: #2aa198; }// cyan
}

// Solarized dark
@mixin solarized-dark-appearance {
  background-color: #002b36; // base03
  color: #839496;            // base0

  a { color: #268bd2; }
  a:hover { color: #2aa198; }
}

code {
  color: white;
  background-color: #6e6a62;
}

div.highlighter-rouge code {
  background-color: #383530;
  white-space: pre;
  overflow-x: auto;
}

body[a="solarized-light"] {
  @include solarized-light-appearance;
}

body[a="solarized-dark"] {
  @include solarized-dark-appearance;
}
